$sc:50;
@font-face {
  font-family: 'iconfont';
  src: url('../../font/iconfont.eot');
  src: url('../../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../../font/iconfont.woff') format('woff'),
  url('../../font/iconfont.ttf') format('truetype'),
  url('../../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
html{
    width: 100%;
    height: 100%;
    body{
        @extend html;
        margin: 0;
        .faxian{
            @extend html;
            background: #ebebeb;
            padding-top: 40/$sc+rem;
            box-sizing: border-box;
            ul{
                margin: 40/$sc+rem 0 0 0;
                padding: 0 30/$sc+rem;
                list-style: none;
                box-sizing: border-box;
                color: #333;
                background: #fff;
                li{
                    width: 100%;
                    height: 100/$sc+rem;
                    font-size: 32/$sc+rem;
                    padding: 15/$sc+rem 0;
                    box-sizing: border-box;
                    display: flex;
                    &:nth-child(2){
                        border-top: 2/$sc+rem solid #e5e5e5;
                    }
                    div{
                        height: 70/$sc+rem;
                        line-height: 70/$sc+rem;
                        text-align: center;
                        &:first-child{
                            width: 70/$sc+rem;
                            margin-right: 27/$sc+rem;
                            img{
                                width: 70/$sc+rem;
                                height: 70/$sc+rem;
                            }
                            .game{
                                width: 50/$sc+rem;
                                height: 50/$sc+rem;
                                vertical-align: middle;
                            }
                        }
                    }
                    .iconfont{
                        font-size: 50/$sc+rem;
                    }
                }
                &:first-child{
                    margin-top: 0;
                }
                &:nth-child(2){
                    .iconfont{
                        color: #10aeff;
                    }
                }
                &:nth-child(3){
                    .iconfont{
                        color: #f86161;
                    }
                }
                &:last-child{
                    .iconfont{
                        color: #7787db;
                    }
                }
            }
        }
    }
}        